@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap');

$corAzulada : #f5f7f9;
$corTexto: #273146;

.App{
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 15vh auto;
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
body *{
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    font-family: Poppins;
}
button, input, li{
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    padding: 0;
}

header{
    width: -webkit-fill-available;
    height: 15vh;
    display: flex;
    align-items: center;
    padding: 0vh 5vw;
    border-bottom: 1px solid $corAzulada;
    position: fixed;
    background-color: white;
    z-index: 10;

    div{
        width: 40%;
        display: flex;
        background-color: $corAzulada;
        border-radius: .5vw;
        padding: 1.5vh 1vw 1.5vh 1vw;
        margin: auto 0vw auto auto;
        align-items: center;

        img{
            width: 1.5vw;
            height: 1.5vw;
            opacity: .5;
        }
        input{
            width: -webkit-fill-available;
            margin-left: 1vw;
        }
    }
    ul{
        margin: auto;
        grid-gap: 2vw;
        li:hover{
            color: rgb(77, 160, 255);
        }
    }
    button{
        width: 2vw;
        height: 2vw; 
        background-size: contain;
    }
    #btnFavorite{
        margin: auto 1.5vw;
        background-image: url('https://img.icons8.com/fluency-systems-regular/96/000000/like--v1.png');
    }
    #btnShop{
        background-image: url('https://img.icons8.com/fluency-systems-regular/96/000000/shopping-cart.png');
    }
}

.sectionAbsolute{
    width: 100%;
    height: fit-content;
    display: grid;
    margin-top: 15vh;
    background-color: $corAzulada;

    .asideFilters{
        width: 20%;
        height: 100%;
        border-right: 1px solid $corAzulada;
        padding: 2vw;
        position: fixed;
        background-color: white;

        h3{
            font-size: 1.8vw;
            font-weight: 500;
            margin: 0;
        }
        span{
            display: block;
            h4{
                margin: 0vw 0vw 1vw 0vw;
            }
        }

        span:nth-of-type(1){
            margin: 2vw 0vw 2vw 0vw;

            h4{
                font-size: 1.3vw;
                font-weight: 500;
            }
            div{
                width: 100%;
                display: grid;
                grid-template-columns: 40% 20% 40%;

                input{
                    width: 90%;
                    height: 2vw;
                    border: 1px solid #ececec;
                    border-radius: 1vw;
                    padding: .5vw;
                    text-align: center;
                    margin: auto auto auto 0vw;
                }
                span{
                    width: 40%;
                    height: 2px;
                    background-color: #ececec;
                    margin: auto;
                }
            }
        }
        span:nth-of-type(2){
            h4{
                font-size: 1.3vw;
                font-weight: 500;
            }
            p{
                font-size: .9vw;
            }
            select{
                width: 100%;
                height: 3vw;
                border: 1px solid #ececec;
                border-radius: .5vw;
                padding: .5vw;
            }
        }
    }
    .asideExbProducts{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 2vw;
        padding: 3vw;
        margin-left: 24%;
        background-color: transparent;
    }
}